body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booklist {
  border-top: 1px solid;
}

.booklist li {
  list-style: none;
}

.booklist-item {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 20px;
}

.booklist-item-data li {
  list-style: none;
  margin-left: 20px;
}

.booklist-item-image p {
  line-height: 163px;
  width: 128px;
  text-align: center;
}